github "jdg/MBProgressHUD" ~> 1.2.0
github "ReactiveX/RxSwift" ~> 5.0
github "mac-cain13/R.swift.Library"
github "onevcat/Kingfisher" ~> 4.0
github "airbnb/lottie-ios" "master"
github "ashleymills/Reachability.swift"
github "Swinject/Swinject" ~> 2.7.1
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"