<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623530565743-f4913lelgtnqbmcqnh600p6gul806ss9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623530565743-f4913lelgtnqbmcqnh600p6gul806ss9</string>
	<key>API_KEY</key>
	<string>AIzaSyBexg2hR3R3Qo2D-BIguzmzqg_6Myq8qAs</string>
	<key>GCM_SENDER_ID</key>
	<string>623530565743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gmail.yuki.LogTummy-iOS</string>
	<key>PROJECT_ID</key>
	<string>logtummy-release</string>
	<key>STORAGE_BUCKET</key>
	<string>logtummy-release.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623530565743:ios:b78ac9012990498204ed9a</string>
	<key>DATABASE_URL</key>
	<string>https://logtummy-release.firebaseio.com</string>
</dict>
</plist>